Repository a0a7/fast-line-heatmap: changes, and which Codecov flags are due for each by the changed paths.
All: rust, javascript, python

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
    patch:
      default:
        target: 70%
        threshold: 5%

  ignore:
    - "dist/*/target/**/*"
    - "core/target/**/*"
    - "**/tests/**/*"
    - "**/__tests__/**/*"
    - "**/*.test.*"
    - "**/test_*"
    - "demo/**/*"
    - "paper/**/*"
    - "scripts/**/*"
    - "**/*.d.ts"

parsers:
  javascript:
    enable_search: true
  rust:
    enable_search: true

flags:
  rust:
    paths:
      - core/
  javascript:
    paths:
      - dist/javascript/
  python:
    paths:
      - dist/python/

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false

github packages publishing
  README.md
  dist/javascript/package.json
Due: javascript

github packages/npm publishing
  .github/workflows/publish-js.yml
  .github/workflows/release-package.yml
  .gitignore
  README.md
  dist/javascript/.npmrc.example
  dist/javascript/package.json
  dist/javascript/publish-dual.bat
  dist/javascript/publish-dual.sh
Due: javascript

update readme
  README.md
Due: none

fit parsing coverage
  core/Cargo.lock
  core/src/lib.rs
  core/tests/fit_parser_tests.rs
Due: rust

cargo format
  core/src/lib.rs
  core/tests/fit_parser_tests.rs
Due: rust

more tests
  core/tests/additional_coverage_tests.rs
Due: rust

format
  core/tests/additional_coverage_tests.rs
Due: rust

bump version
  core/Cargo.toml
  demo/package.json
  dist/javascript/package.json
  dist/python/Cargo.toml
  dist/python/pyproject.toml
  dist/python/python/fastgeotoolkit/__init__.py
  dist/rust/Cargo.toml
Due: rust, javascript, python

test new rust publishing workflow
  .github/workflows/publish-js.yml
  .github/workflows/release-package.yml
Due: none

npm/github packages publishing
  .github/workflows/release-package.yml
Due: none

fix codecov functionality
  .github/workflows/rust-tests.yml
Due: none

codecov update
  .github/workflows/rust-tests.yml
  core/Cargo.lock
  core/coverage/cobertura.xml
Due: rust

track testing js
  dist/javascript/src/__tests__/core.test.ts
Due: javascript

file processing tests js
  dist/javascript/src/__tests__/files.test.ts
Due: javascript

heatmap testing for js dist
  dist/javascript/src/__tests__/heatmap.test.ts
  dist/javascript/src/__tests__/integration.test.ts
Due: javascript

tests for built package
  dist/javascript/src/__tests__/package.test.ts
  dist/javascript/src/__tests__/setup.ts
  dist/javascript/src/__tests__/testData.ts
Due: javascript

copy wasm dist files to dist
  dist/javascript/dist/LICENSE
  dist/javascript/dist/README.md
  dist/javascript/dist/fastgeotoolkit.d.ts
  dist/javascript/dist/fastgeotoolkit.js
  dist/javascript/dist/fastgeotoolkit_bg.wasm
  dist/javascript/dist/fastgeotoolkit_bg.wasm.d.ts
  dist/javascript/dist/index.d.ts
  dist/javascript/dist/index.esm.js
  dist/javascript/dist/index.esm.js.map
  dist/javascript/dist/index.js
  dist/javascript/dist/index.js.map
  dist/javascript/dist/package.json
  dist/javascript/wasm/LICENSE
  dist/javascript/wasm/fastgeotoolkit.d.ts
  dist/javascript/wasm/fastgeotoolkit_bg.wasm
  dist/javascript/wasm/fastgeotoolkit_bg.wasm.d.ts
  dist/javascript/wasm/package.json
Due: javascript

update js package to import wasm properly
  dist/javascript/package-lock.json
  dist/javascript/package.json
  dist/javascript/src/index.ts
  dist/javascript/src/wasm-loader.ts
  dist/javascript/tsconfig.json
  dist/javascript/wasm/fastgeotoolkit.js
Due: javascript

update js readme
  dist/javascript/README.md
Due: javascript

bump to version 2.0
  dist/javascript/dist/index.esm.js
  dist/javascript/dist/index.esm.js.map
  dist/javascript/dist/index.js
  dist/javascript/dist/index.js.map
  dist/javascript/package.json
Due: javascript

update demo to use npm import
  demo/package.json
  demo/pnpm-lock.yaml
  demo/src/routes/+page.svelte
Due: none

generate js docs
  dist/javascript/docs/js-api/.nojekyll
  dist/javascript/docs/js-api/assets/highlight.css
  dist/javascript/docs/js-api/assets/icons.js
  dist/javascript/docs/js-api/assets/icons.svg
  dist/javascript/docs/js-api/assets/main.js
  dist/javascript/docs/js-api/assets/navigation.js
  dist/javascript/docs/js-api/assets/search.js
  dist/javascript/docs/js-api/assets/style.css
  dist/javascript/docs/js-api/functions/calculateCoverageArea.html
  dist/javascript/docs/js-api/functions/calculateDistance.html
  dist/javascript/docs/js-api/functions/calculateTrackStatistics.html
  dist/javascript/docs/js-api/functions/coordinatesToGeojson.html
  dist/javascript/docs/js-api/functions/decodePolyline.html
  dist/javascript/docs/js-api/functions/exportToGpx.html
  dist/javascript/docs/js-api/functions/findTrackIntersections.html
  dist/javascript/docs/js-api/functions/getFileInfo.html
  dist/javascript/docs/js-api/functions/init.html
  dist/javascript/docs/js-api/functions/initWithWasm.html
  dist/javascript/docs/js-api/functions/loadWasm.html
  dist/javascript/docs/js-api/functions/loadWasmFromUrl.html
  dist/javascript/docs/js-api/functions/processGpxFiles.html
  dist/javascript/docs/js-api/functions/processPolylines.html
  dist/javascript/docs/js-api/functions/simplifyTrack.html
  dist/javascript/docs/js-api/functions/validateCoordinates.html
  dist/javascript/docs/js-api/index.html
  dist/javascript/docs/js-api/interfaces/FileInfo.html
  dist/javascript/docs/js-api/interfaces/HeatmapResult.html
  dist/javascript/docs/js-api/interfaces/HeatmapTrack.html
  dist/javascript/docs/js-api/interfaces/TrackStatistics.html
  dist/javascript/docs/js-api/interfaces/ValidationResult.html
  dist/javascript/docs/js-api/modules.html
  dist/javascript/docs/js-api/types/Coordinate.html
  dist/javascript/docs/js-api/variables/utils.html
  dist/javascript/src/__tests__/core.test.ts
  dist/javascript/src/__tests__/files.test.ts
  dist/javascript/src/__tests__/heatmap.test.ts
  dist/javascript/src/__tests__/integration.test.ts
  dist/javascript/src/__tests__/package.node.test.ts
  docs/requirements.txt
Due: javascript

typedocs
  dist/javascript/package-lock.json
  dist/javascript/package.json
  dist/javascript/typedoc.json
Due: javascript

update codecov
  .readthedocs.yaml
  codecov.yml
  docs/requirements.txt
Due: none

add sample .fit file data
  demo/static/tracks/1.fit
  demo/static/tracks/10.fit
  demo/static/tracks/11.fit
  demo/static/tracks/12.fit
  demo/static/tracks/13.fit
  demo/static/tracks/14.fit
  demo/static/tracks/15.fit
  demo/static/tracks/16.fit
  demo/static/tracks/17.fit
  demo/static/tracks/18.fit
  demo/static/tracks/19.fit
  demo/static/tracks/2.fit
  demo/static/tracks/20.fit
  demo/static/tracks/21.fit
  demo/static/tracks/22.fit
  demo/static/tracks/23.fit
  demo/static/tracks/24.fit
  demo/static/tracks/25.fit
  demo/static/tracks/26.fit
  demo/static/tracks/27.fit
  demo/static/tracks/28.fit
  demo/static/tracks/29.fit
  demo/static/tracks/3.fit
  demo/static/tracks/4.fit
  demo/static/tracks/5.fit
  demo/static/tracks/6.fit
  demo/static/tracks/7.fit
  demo/static/tracks/8.fit
  demo/static/tracks/9.fit
Due: none

update demo to load sample fit file data
  demo/src/routes/+page.svelte
Due: none

add favicon
  demo/static/favicon.png
  demo/static/img/icon/layer.svg
  dist/javascript/favicon.ico
Due: javascript

update readme
  README.md
  core/Cargo.toml
  core/README.md
  demo/src/app.html
  dist/javascript/README.md
  dist/javascript/dist/README.md
  dist/javascript/dist/package.json
  dist/javascript/package.json
  dist/javascript/src/__tests__/package.node.test.ts
  dist/javascript/wasm/package.json
  dist/python/Cargo.toml
  dist/python/README.md
  dist/rust/Cargo.toml
  dist/rust/README.md
Due: rust, javascript, python

update docs
  dist/javascript/README.md
  dist/javascript/docs/js-api/functions/calculateCoverageArea.html
  dist/javascript/docs/js-api/functions/calculateDistance.html
  dist/javascript/docs/js-api/functions/calculateTrackStatistics.html
  dist/javascript/docs/js-api/functions/coordinatesToGeojson.html
  dist/javascript/docs/js-api/functions/decodePolyline.html
  dist/javascript/docs/js-api/functions/exportToGpx.html
  dist/javascript/docs/js-api/functions/findTrackIntersections.html
  dist/javascript/docs/js-api/functions/getFileInfo.html
  dist/javascript/docs/js-api/functions/init.html
  dist/javascript/docs/js-api/functions/initWithWasm.html
  dist/javascript/docs/js-api/functions/loadWasm.html
  dist/javascript/docs/js-api/functions/loadWasmFromUrl.html
  dist/javascript/docs/js-api/functions/processGpxFiles.html
  dist/javascript/docs/js-api/functions/processPolylines.html
  dist/javascript/docs/js-api/functions/simplifyTrack.html
  dist/javascript/docs/js-api/functions/validateCoordinates.html
  dist/javascript/docs/js-api/index.html
  dist/javascript/docs/js-api/interfaces/FileInfo.html
  dist/javascript/docs/js-api/interfaces/HeatmapResult.html
  dist/javascript/docs/js-api/interfaces/HeatmapTrack.html
  dist/javascript/docs/js-api/interfaces/TrackStatistics.html
  dist/javascript/docs/js-api/interfaces/ValidationResult.html
  dist/javascript/docs/js-api/modules.html
  dist/javascript/docs/js-api/types/Coordinate.html
  dist/javascript/docs/js-api/variables/utils.html
  dist/javascript/package.json
Due: javascript

update auth handling
  demo/src/routes/api/rwgps-token/+server.ts
  demo/src/routes/api/strava-token/+server.ts
Due: none

update release package workflow
  .github/workflows/release-package.yml
Due: none

add draft pdf workflow
  .github/workflows/draft-pdf.yml
Due: none

update lockfile
  demo/pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: none

update paper
  paper/heatmap.png
  paper/paper.md
Due: none

add placeholder bib entry
  paper/paper.bib
Due: none
